.home{
  &__title{
    @extend .fz-25;
    font-family: $font-OpenSans-Bold;
    line-height: 1.6;
    color: #ffffff;
    .huongdan__motaikhoan &{
      @extend .fz-34;
    }
  }
  &__blockGioithieu{
    $x:130px;
    &__boximg{
      height: 155px;
      text-align: center;
      margin-top: calc(0px - #{$x});
      margin-bottom: 20px;
      img{

      }
    }
    &__card{
      margin-top: calc(#{$x} - 40px);
      &__txt{
        color: rgb(33, 33, 33);
        @extend .fz-15;
        font-family: $font-Roboto;
        line-height: 1.4;
      }
    }
    &__title{
      @extend .fz-34;
      font-family: $font-Roboto-Bold;
      line-height: 1.4;
      color: #ffffff;
      text-align: center;
      position: relative;
      padding-bottom: 20px;
      &:before{
        content: "";
        width: 300px;
        height: 1px;
        background-color: #fff;
        display: flex;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
      }
    }
    &__txt{
      @extend .fz-20;
      line-height: 1.4;
      font-family: $font-Roboto;
      color: #ffffff;
      text-align: center;
    }
  }
  &__blockThanhtich{
    &__txt{
      line-height: 1.4;
      @extend .fz-17;
      color: #ffffff;
      font-family: $font-Roboto;
    }
  }
  &__block01{
    &__item{
      &:nth-child(n+2){
        margin-top: 60px;
      }
    }
    &__title{
      text-transform: uppercase;
      @extend .fz-30;
      margin: 0;
      font-family: $font-Roboto;
    }
    &__txt{
      @extend .fz-18;
      line-height: 1.2;
      color: #ffffff;
      font-family: $font-Roboto;
    }
    &__list{
      margin-top: 25px;
      >li{
        @extend .fz-16;
        color: #ffffff;
        font-family: $font-Roboto;
        padding-left: 25px;
        position: relative;
        &:before{
          content: "";
          width: 15px;
          height: 15px;
          position: absolute;
          top: 4px;
          left: 0;
          display: flex;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201792%201896.0833%22%20fill%3D%22rgba(241%2C%2014%2C%201%2C%201)%22%3E%20%3Cpath%20d%3D%22M1671%20566q0%2040-28%2068l-724%20724-136%20136q-28%2028-68%2028t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28%2068-28t68%2028l294%20295%20656-657q28-28%2068-28t68%2028l136%20136q28%2028%2028%2068z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
        }
      }
    }
  }
  &__blockSanpham{
    &__item{
      &:nth-child(n+2){
        margin-top: 30px;
      }
    }
    &__card{
      border-radius: 5px;

    }
    &__title{
      margin: 0;
      color: rgb(33, 33, 33);
      @extend .fz-30;
      font-family: $font-Roboto;
    }
    &__txt{
      color: rgb(33, 33, 33);
      @extend .fz-17;
      font-family: $font-Roboto;
      &--c1{
        @extend .fz-16;
      }
    }
  }
  &__blockChuongtrinh{
    &__item{
      &:nth-child(n+2){
        margin-top: 20px;
      }
    }
    &__btn{
      background: rgb(241, 14, 1) !important;
      border-color: rgb(241, 14, 1) !important;
      @extend .fz-19;
      font-family: $font-OpenSans-Bold;
    }
    &__list{
      >li{
        $x:25px;
        @extend .fz-24;
        color: #ffffff;
        position: relative;
        padding-left: #{$x};
        @include media-breakpoint-up('m'){
          padding-left: 0;
        }
        &:before{
          content: "";
          background-image: url("data:image/svg+xml;utf8, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22rgba(241%2C%2014%2C%201%2C%201)%22%3E%20%3Cpath%20d%3D%22M12%204.594V27.406l1.72-1.687%209-9%20.686-.72-.687-.72-9-9L12%204.595zm2%204.843L20.563%2016%2014%2022.563V9.438z%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
          width: 19px;
          height: 19px;
          display: flex;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          @include media-breakpoint-up('m'){
            left: calc(0px - #{$x});
          }
        }
        span{
          font-family: $font-OpenSans-Bold;
          color: #ffffff;
        }
      }
    }
  }
}