.footer{
  background-color: rgb(97, 97, 97);
  &__title{
    text-transform: uppercase;
    @extend .fz-16;
    color: #ffffff;
    font-family: $font-Roboto-Bold;
    margin: 0;
  }
  &__title1{
    font-family: $font-Roboto-Bold;
    @extend .fz-15;
    margin: 0;
  }
  &__list{
    margin: 0 !important;
    >li{
      @extend .fz-13;
      &:nth-child(n+2){
        margin-top: 3px;
      }
    }
  }
  &__item{
    &:nth-child(n+2){
      margin-top: 10px;
    }
  }
  &__socialIcon{
    width: 30px;
    height: 30px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &--fb{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z'%3E%3C/path%3E%3C/svg%3E");
    }
    &--youtube{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}